.cabecalho{
    background-color: rgb(126, 255, 184);
    color:black;
display: flex;
justify-content: space-around; 
padding:240px 0;
font-size: 50px;
.cabecalholistaitem{
display: inline-block;
margin: 0 120px;
padding: 78px 0;
}
}