.cabecalho{
    background-color: rgb(126, 255, 184);
    color:black;
display: flex;
justify-content: space-around; 
padding:10px 0;
font-size: 25px;
}

.cabecalholistaitem{
display: inline-block;
margin: 0 10px;
padding: 20px 0;
}

.sobreImagem{
           width:
}

.sobre{
        background-image: linear gradient(#FFFFFF. #FFFFFF);
        color: orange;
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 370px 0;
}

.sobreConteudo{
        width:
}

.sobreTitulo{
         padding: 100px 50px;
}
